// put custom bootstrap styles to change sass variables, before loading if you want to
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/reset-css/_reset.scss";

//____________________Variables_____________________

$headerFont: 'Merriweather', serif;
$textFont: 'Roboto Slab', serif;

// theme colors
$idleGreen: #ABD37C;







//____________________Loading Components_____________________
// mixins
@import "mixins/mediaQuery";





@import "generalStyles";
@import "sections/navbar";
@import "sections/introSection";
@import "sections/explanationSection";
@import "sections/contactSection";
@import "sections/footer";







