section.explanation{
	font-size: 1rem;
	@include tabletOrLess {
		font-size: .9rem;
	}



	background: #fafafa;

	div.explanation-part{
		@include tabletOrLess {
			&:not(:last-of-type){
				margin-bottom: 40px;
			}
		}
		// border: 2px solid red;
		// background: green;
		position: relative;
	}

	div.text-wrapper{
		margin-left: 50px;
		padding-left: 5px;
		// background: gold;
		h5{
			text-transform: uppercase;
			text-align: left;
			font-size: 1.2em;
			margin-bottom: 10px;
			// background: blue;
		}
		p{
			font-size: .9em;
		}
	}


	i{
		// background: blue;
		top: 8px;
		left: 10px;
		position: absolute;
		font-size: 3em;
		color: black;
		z-index: 10;
		// make users icon smaller, loooks too big
		&.fa-users{
			font-size: 2.4em;
		}
		&.fa-thumbs-o-up{
			font-size: 2.7em;
		}

	}




}