section.intro-section{
	font-size: 1rem;
	min-height: 300px;
	background: $idleGreen;
	color: white;
	@include desktop {
		font-size: .9rem;
	}
	@include tabletOrLess {
		font-size: .8rem;
	}
	@include phoneOrLess {
		font-size: .7rem;
	}

	h1.welcome-header{
		text-transform: uppercase;
		font-size: 2.7em;
		text-align: center;
		margin: 10px 0 30px;
	}
	h4.welcome-description{
		font-size: 1em;
		@include phoneOrLess {
			font-size: 1.2em;
		}
		max-width: 800px;
		margin: auto;
	}
} // end intro section, nothing below this