
section.email-form{
	visibility: hidden;
	background: rgba(0, 0, 0, 0);
	@include transition(.3s ease)
	.show-email-form &{
		visibility: visible;
		background: rgba(117, 187, 180, .7);
		@include transition(.8s ease);
	}
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	// @include animation(fadeInUp, 1s, ease);





	form {
		@include transition(.3s ease);
		margin-top: -400px;
		opacity: 0;
		.show-email-form &{
			margin-top: 0;
			opacity: 1;
			@include transition(.8s ease)
		}
		width: 700px;
		@include phoneOrLess {
			width: 95%;
		}
		position: relative;

		div.form-group{
			margin-bottom: 30px;
		}




		label{
			color: white;
			opacity: .8;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 5px;
		}

		.required>label{
			&:after{
				content: "*"
			}
		}

		input{
			height: 45px;
		}






		// to prevent spam, hide it
		input#decoy{
			display: none;
		}

		button.send{
			@extend .get-in-touch;
		}

		div.close-form{
			cursor: pointer;
			background: none;
			border: none;
			right: 0;
			position: absolute;
			top: -25px;
			span{
				color: white;
				font-size: 30px;
			}
		}
		
	}




























}